.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    padding:10px 20px;
    background: black;
    color : white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.wrapper button:hover {
    background:hsl(0, 2%, 23%);
}
.accordian {
    width: 500px;;
}
.item {
    background-color: hsl(348, 88%, 46%);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 50px;
}
.item:hover {
    background-color: hsl(348, 88%, 56%);
    border: 10px solid hsl(348, 88%,46%);
    padding: 5px 15px;
}
.item:active {
    background-color: hsl(348, 88%, 56%);
}
.title{
    color: white;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    display: flex;
}
.content {
    color : white;
    height: auto;
    width: 500px;
    padding-bottom: 10px;
}
.title span {
    padding-right: 20px;
}